<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cadastro.css">
    <title>cadastro</title>
</head>
<body>
    <div class="titulo"><h1>Cadastre-se</h1></div>
    <div class="painel">
        <div class="textfield">
            <label for="nome">Nome</label>
            <input type="text" name="Nome" placeholder="Nome">
        </div>

        <div class="textfield">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" name="sobrenome" placeholder="Sobrenome">
        </div>

        <div class="textfield">
            <label for="e-mail">E-mail</label>
            <input type="text" name="e-mail" placeholder="E-mail">
        </div>
        
        <div class="textfield">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" placeholder="Telefone">
        </div>

        <div class="textfield">
            <label for="senha">Senha</label>
            <input type="password" name="senha" placeholder="Senha">
        </div>

        <div class="textfield">
            <label for="confirmar">Confirmar Senha</label>
            <input type="password" name="c-senha" placeholder="Confirmar Senha">
        </div>
        <button class="botao">Cadastrar</button> 
        </div>     
    </div>
</div>
</body>
</html>