<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>home</title>
    <header class="cabecalho">

    </header>
</head>
<body>
    <header>
        <div class="container-logo">
            <div class="logo-imagem">
                <img src="logo1.png" alt="">
            </div>
            <div class="logo-texto"><h1>Sementes de Luz</h1></div>
        </div>

        <div class="menu">
            <ul>
                <li><a href='#'>Sobre</a></li>
                <li><a href='#'>Perfil</a></li>
                <li><a href='#'>Lorem</a></li>
                <li><a href='#'>Lorem</a></li>
            </ul>
        </div>
    </header>
    <div class="cima">
        <h1>Home</h1>
        <div class="painel">
        <div><button class="b1">Cadastrar Pessoa</button></div>

        <div><button class="b1">Ver Cadastros</button></div>

        <div><button class="b1">Adicionar Estoque</button></div>

        <div><button class="b1">Ver Estoque</button></div>
    </div>
</body>
<section class="footer">
    <div class="container">
        <ul>
            <li class="grid-8"><h2>O projeto</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum veritatis 
                    ut porro tenetur necessitatibus iusto voluptates libero quas exercitationem. 
                    Quidem quis doloribus corrupti cupiditate laudantium maxime possimus necessitatibus 
                    similique qui?</p>
            </li>
            <li class="grid-4"><h2>Contato</h2> </li>
            <img src="facebook.png">
            <img src="instagram.png">
            <img src="whatsapp.png">
            <!-- Diminuir a imagem <div class="cetec"><img src="cetec.png"></div>/* -->
        </ul>
        </div>
    </div>
</section>
</html>