<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="first.css">
    <title>Language</title>
</head>
<body>
    <div class="main-page">
        <div class="esquerda">
            <h1>Bem-Vindo</h1><br>
        </div>
        <div >
            <select class="menu" id="Idioma" required>
                <option selected disabled value="">Selecione</option>
                <option>Português</option>
                <option disabled value="">English (development)</option>
                <option disabled value="">Español (desarrollo)</option>
            </select>
        </div>
    </div>
</body>
<section class="footer">
    <div class"container">
        <ul>
            <li class="grid-8"><h2>O projeto</h2>
                <p>Não tinha medo o tal João de Santo Cristo Era o que todos diziam quando ele se perdeu
                    Deixou pra trás todo o marasmo da fazenda Só pra sentir no seu sangue o ódio que Jesus lhe deu
                    Quando criança só pensava em ser bandido
                    Ainda mais quando com um tiro de soldado o pai morreu
                    Era o terror da sertania onde morava
                    E na escola até o professor com ele aprendeu
                    Ia pra igreja só pra roubar o dinheiro
                    Que as velhinhas colocavam na caixinha do altar
                    Sentia mesmo que era mesmo diferente
                    Sentia que aquilo ali não era o seu lugar
                    Ele queria sair para ver o mar
                    E as coisas que ele via na televisão
                    Juntou dinheiro para poder viajar
                    De escolha própria, escolheu a solidão
                    Comia todas as menininhas da cidade
                    De tanto brincar de médico, aos doze era professor
                    Aos quinze, foi mandado pro o reformatório
                    Onde aumentou seu ódio diante de tanto terror</p>
            </li>
            <li class="grid-4"><h2>Contato</h2> </li>
            <img src="facebook.png">
            <img src="instagram.png">
            <img src="whatsapp.png">
            <!-- Diminuir a imagem <div class="cetec"><img src="cetec.png"></div>/* -->
        </ul>
        </div>
    </div>
</section>
</html>